.uber-button {
    color:white;
    background-color: black;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    transition: opacity 0.2s;
}

.uber-button:hover {
    opacity: 0.8;
}

.uber-button:active {
    opacity: 0.6;
}

.amazon-button {
    color: rgb(15, 17, 17);
    background-color: rgb(255, 216, 20);
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 10px;
    font-family: "Amazon Ember", Arial, sans-serif;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s, opacity 0.2s;
    margin: 5px 5px 5px 5px;
}

.amazon-button:hover {
    background-color:rgb(255, 200, 62);
}

.amazon-button:active {
    opacity: 0.6;
}

.github-button {
    padding: 9px 14px 9px 14px;
    margin: 5px 5px 5px 5px;
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border:none;
    color:white;
    background-color:rgb(76, 186, 111);
    border-radius:5px;
    font-weight: bold;
    cursor: pointer;
    transition:  opacity 0.2s;
}

.github-button:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.github-button:active {
    opacity: 0.6;
}

.boot-button {
    padding: 10px 15px 10px 15px;
    font-size:10px;
    font-family: Arial, sans-serif;
    color:white;
    background-color: rgb(121, 82, 170);
    border:none;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, opacity 0,2s;
}

.boot-button:hover {
    background-color:white ;
    color: rgb(121, 82, 170);
}

.boot-button:active {
    opacity: 0.6;
}

.strap-button{
    padding: 9px 14px 9px 14px;
    margin: 5px 5px 5px 5px;
    font-size:10px;
    font-family: Arial, sans-serif;
    color:rgb(104, 103, 103);
    background-color: white;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 3px;
    cursor: pointer;
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}

.strap-button:hover {
    color: white;
    background-color: rgb(104, 103, 103);
}

.strap-button:active {
    opacity: 0.6;
}

.linked-button {
    padding: 10px 15px 10px 15px;
    font-size:10px;
    font-weight: bold;
    color:white;
    background-color: rgb(10, 102, 194);
    border: none;
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.linked-button:hover {
    background-color: white ;
    color: rgb(10, 102, 194);;
}

.linked-button:active {
    opacity: 0.6;
}

.in-button {
    padding: 9px 14px 9px 14px;
    margin: 5px 5px 5px 5px;
    font-size:10px;
    font-weight: bold;
    color:rgb(99, 157, 204);
    background-color: white;
    border-width: 1px;
    border-style:solid;
    border-color:rgb(99, 157, 204);
    border-radius: 20px;
    cursor: pointer;
}

.in-button:hover {
    color:white;
    background-color: rgb(99, 157, 204);
    border-width: 2px;
}

.amazon2-button {
    background-color:rgb(255, 217, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.2s, opacity 0.2s;
}

.amazon2-button:hover {
    background-color : rgb(233, 199, 32)
}

.amazon2-button:active {
    opacity: 0.6;
}

.amazon3-button {
    background-color:rgb(255, 153, 0);
    border: none;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    margin: 5px 5px 5px 5px;
    font-size:12px;
    cursor: pointer;
}

.amazon3-button:hover {
    background-color: rgb(228, 156, 23)
}

.amazon3-button:active {
    opacity: 0.6;
}

.amazon-link {
    color: rgb(18, 139, 160);
}

.amazon-link:hover {
    color: rgb(53, 163, 214);

}

.title-shoes {
    font-size: 24x;
    font-weight: bold;
}

.price-shoes {
    color: rgb(0, 136, 0);
    font-weight: bold;
}

.page-next-button {
color:purple;
margin: 5px 5px 5px 5px;
}

.stretch-button {
background-color: green;
margin: 10px 5px 5px 5px;
color: white;
border: none;
font-size: 15px;
padding: 10px 15px;
cursor: pointer;
transition: padding 1s;
}

.stretch-button:hover {
padding: 13px 26px;
}

.shadow-button {
background-color: green;
color: white;
border: none;
font-size: 15px;
padding: 10px 15px 10px 15px;
cursor: pointer;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.shadow-button:active {
box-shadow: none;
margin: 3px 0 0 3px;
}

.stretch2-button {
background-color: green;
color: white;
border: none;
font-size: 15px;
cursor: pointer;
padding:10px 15px;
margin: 10px 10px;
transition: padding 0.15s, margin 0.15s;
}

.stretch2-button:hover {
padding-left: 25px;
padding-right: 25px;
margin: 0 0;
}