p {
    margin: 0;
}
.image-1 {
    width: 200px;
    border-radius: 10px;
}

.image-2 {
    width: 150px;
    height: 150px;
    object-position: center;
    object-fit: cover;
}

.image-3 {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 100px;
}

.text-box {
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
    padding: 5px 10px;
    margin: 0 0 10px 0;
}

.google-text {
    width:185px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
    margin: 0 0 10px 0;
}

.email-word {
    color: rgb(100, 100, 100);
}

.linkedin-text {
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid rgb(100, 100, 100);
    width: 400px;
}

.linkedin-desc {
    color: rgb(100, 100, 100)
}

.linkedin-button {
    text-align: center;
    margin-top: 10px;
    color: white;
    background-color: rgb(38, 124, 221);
    padding-top: 8px;
    padding-bottom: 8px ;
    border-radius: 30px;
    width: 400px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.image-4 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    margin-top: 10px;
    vertical-align: middle;
}

.what-happ {
    color: rgb(100, 100, 100);
    border: none;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 5px;
    width: 285px;
}

.tweet-button {
    color: white;
    background-color: rgb(52, 128, 241);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    vertical-align: middle;
    margin-top: 6px;
    font-weight: bold;
    cursor: pointer;
}

.text-box, .google-text, .linkedin-text, .what-happ:focus {
    outline: none;
}